html
  meta(name=viewport, content="width=device-width", initial-scale=1)
  head
    title Emmagician's FAQ
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="/projects/emma/faq/stylesheets/faq.css")

    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  body
    h1#title.text-center EMMAGICIAN'S FAQ
    .container
      .content.row
        .col-md-9
          each qa in faqs
            .question-block.well
              span.question Q: #{qa.question}
              br
              span.answer A: #{qa.answer}
        .col-md-3
          .donations.well.text-center
            p Feel like helping out? Feel free to drop a donation
            |<div id='paypal'>
            | <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            |   <input type="hidden" name="cmd" value="_s-xclick">
            |   <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBattxyu7QkV6nB5QUDOe0Jpdans9knXyu3SBIBNDUoFwMq4G7ycA9S10oqYk+JWLTx9xtlAjkdN098A0pACfAxTKD33eWC/sYcmfb7qKUx7RGub/Yk3wAO2f8edKeZVgLqwlCIU0DwxSE6zoKm91pMuOTRDtNsT4VJmaDpSyKr8jELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI8OPSbE/2unSAgaB1lIkoa5uhd7JIebHg+t1KQOqrDxFQkGVWuGyOuP6WLmKa6AUYQiB/P9mEoBJ1J6aZFYER2vUkVEdxzMInrzLHuePTANDRjHESvB8Ug0u6uCmlxxJWJWTprZtqh0JxpO4egkbbdZKl9Jvex7yz6zfGY4mAF+LvE2f1orPZX5KFJfSo0r47n8lzTfseXIPoNMEoMXNJp3vG4ZWRRWwNXFZzoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMxMTA4MDA1MDI4WjAjBgkqhkiG9w0BCQQxFgQUOsanjKBMAUKGzVPfbbmhZRfYlAUwDQYJKoZIhvcNAQEBBQAEgYCZ6cqieeAs/+QkJZyvltC1kBaim27uYVeRpRnvfWpkw2QtFDHGDZ+YF5vbRfxYhlv23eodXOP1JzuYifBKmrQhQQWfsPyXi3F6KAIfgM/dWY+Sf0VL9F63HAJl6NoTssl2TupqD+U8Jsg5X6P4VImtGXBvfdZQDOdDjLHric3y4w==-----END PKCS7-----">
            |   <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal â The safer, easier way to pay online.">
            |   <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            | </form>
            |</div>
 
          .twitter-widget.well
            |<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/EmmagicianDM" data-widget-id="376413162339172352">Tweets by @EmmagicianDM</a>
            |<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
            
    #footer.text-center
      p Site built and maintained by Kosan Nicholas (aka Gstayton)
